<ion-header>
  <ion-toolbar  color="secondary">
    <ion-title style="text-align: center;">
    List Contact 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <div id="container">
   
    <!-- 
    <ion-list class="twocolumns">
     
      <ion-item *ngFor="let f of users; let i = index " (click)="delete(f)"> {{f.nom}} {{f.prenom}} </ion-item>
     
    </ion-list>

  --> 
    <ion-list>
    

      <ion-item-sliding  *ngFor="let f of users; let i = index ">
    
        <ion-item>
          {{f.nom}} {{f.prenom}}
          <div slot="end">
              <ion-button (click)="updateItem(i)"><ion-icon name="create"></ion-icon></ion-button>
          </div>
        </ion-item>
    
        <ion-item-options>
          <ion-button color="danger"  (click)="removeItem(i)"><ion-icon name="trash"></ion-icon>Delete</ion-button>
        </ion-item-options>
      </ion-item-sliding>
    
      </ion-list>

    <ion-button color="secondary" (click)='goToPage()' class="input_style">
      <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
      <ion-label>New Contact</ion-label>
    </ion-button>
  
  </div>
</ion-content>
